<! DOCTYPE html>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle nav</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Homework Help</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a></li>
                        <li><a href="/math"><i class="fa fa-calculator fa-fw"></i>&nbsp; Math</a></li>
                        <li><a href="/science"><i class="fa fa-flask fa-fw"></i>&nbsp; Science</a></li>
                        <li><a href="/history"><i class="fa fa-history fa-fw"></i>&nbsp; History</a></li>
                        <% if(!currentUser) { %>
                            <li><a href="/login"><i class="fa fa-sign-in fa-fw"></i>&nbsp; Login</a></li>
                            <li><a href="/register"><i class="fa fa-address-card-o fa-fw"></i>&nbsp; Sign up</a></li>
                        <% } else { %>
                            <li><a href="#">
                                <i class="fa fa-user-circle-o fa-fw"></i>&nbsp; Signed in as <%= currentUser.username %></a>
                            </li>
                            <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i>&nbsp; Logout</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="container">
            <% if(error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0) { %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>

