<html>
    <head>
        <title>History Questions</title>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="container"> 
            <header id="history-index" class="jumbotron"> 
                <div class="container">
                    <h1>Welcome to the History page</h1>
                    <p>View the questions</p>
                    <p>
                        <a class="btn btn-primary btn-large" href="/history/new">Post a new question</a>
                    </p>
                </div>
            </header> 
            
            <div class="row" style="display:flex; flex-wrap:wrap;">
                <% history.forEach(function(history){ %>
                    <div class="col-md-2 col-sm-1">
                        <div class="thumbnail">
                            <a href="/history/<%= history._id %>" class="btn btn-primary" style="width:100%">
                                <%- history.title.substring(0, 20) %>...
                            </a>
                            <span><%= history.create.toDateString() %></span>
                        </div> 
                    </div>
                <% }); %>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>
