<html>
    <head>
        <title>Homework Help</title>
        <% include ./partials/head %>
    </head>
    <body>
        <% include ./partials/header %>
        <div class="container">
            <header id="index-page" class="jumbotron">
                <div class="container"> 
                    <h1>Homework Help</h1>
                    <img class="logo" src="http://icons.iconarchive.com/icons/thiago-silva/palm/256/Help-icon.png">
                    <h3>We are here to help!</h3>
                    <br><br>
                    <p>
                        <a class="btn btn-primary btn-large" href="/math">View all Math questions</a>
                        <a class="btn btn-primary btn-large" href="/science">View all Science questions</a>
                        <a class="btn btn-primary btn-large" href="/history">View all History questions</a>
                    </p>
                </div>
            </header>
        </div>
        <% include ./partials/footer %>
    </body>
</html>



  
