<html>
    <head>
        <title>Homework Help</title>
        <% include ./partials/head %>
    </head>
    <body class="index-page">
        <% include ./partials/header %>
        <div class="container"> 
            <div class="container"> 
                <img class="logo" src="http://icons.iconarchive.com/icons/thiago-silva/palm/256/Help-icon.png">
                <h1 id="welcome">Homework Help</h1>
                <h3>We are here to help!</h3>
            </div> 
        </div>
        <% include ./partials/footer %>
    </body>
</html>



  
