<html>
    <head>
        <title>Log in to Homework Help</title>
        <% include ./partials/head %>
    </head>
    <body>
        <% include ./partials/header %>
        <div class="container"  id="gradient">
            <header class="jumbotron" style="text-align:center" id="gradient">
                <div class="container">
                    <h1>Log in</h1><br>
                    <form action="/login" method="POST">
                        <input type="text" name="username" placeholder="username" required><br><br>
                        <input type="password" name="password" placeholder="password"><br><br>
                        <input type="submit" value="Log in">
                    </form>
                </div>
            </header>
        </div>
        <% include ./partials/footer %>
    </body>
</html>
 



