<html>
    <head>
        <title>Page not found</title>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        
        <div class="container"> 
            <header class="jumbotron">
                <div class="container">
                    <h1>Error 404: Page not found</h1>
                    <p>The page you are trying to request is not available.</p>
                    <p>
                        <a class="btn btn-primary btn-large" href="/">Back to homepage</a>
                    </p>
                </div>
            </header> 
        </div>
        
        <% include ../partials/footer %>
    </body>
</html>